*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 22px;
}

body {
  min-height: 100vh;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 2px);
  max-width: 650px;
  border: 1px solid royalblue;
  margin: auto;
}

header {
  width: 650px;
  padding: 0, 0.25px;
  background-color: mediumblue;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

main {
  width: 650px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  
}

footer {
  width: 650PX;
  padding: 0.25px;
  background-color: mediumblue;
  color: aliceblue;
  display: grid;
  place-content: center;
}
 
ul{
  width: 100%;
  list-style-type: none;
  padding: 0 0.25rem 0.25rem;
}

ul li::before {
  content: "\200B";
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.rem 0 0.5rem 0.5rem;
  margin-bottom: 10px;
  background-color: #eee;
}

.item input[type="checkbox"] {
  text-align: center;
  width: 2.5rem;
  width: 48px;
  min-width: 48px;
  height: 2.5rem;
  height: 48px;
  min-height: 48px;
  cursor: pointer;
  margin-right: 0.5rem;
}


.item input[type="checkbox"]:focus + label {
  text-decoration: underline;
}


.item label {
  font-size: 0.75rem;
  flex-grow: 1;
  cursor: pointer;
}

.item svg {
  width: 48px;
  min-width: 48px;
  height: 36px;
  font-size: 1rem;
  color: steelblue;
  cursor: pointer;
}

.item.svg:focus,
.item svg:hover {
  color: red;
  
}

.addForm {
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 72PX;
}


.addForm label {
  position: relative;
  left: -99999px;
}

.addForm input {
  height: 48px;
  font-size: 1rem;
  min-width: 600px;  
  padding-left: 10px;
  border-radius: 0.25px;
  outline: none;
}

.addForm button {
  height: 48px;
  width: 48px;
   
  font-size: 1.5rem;
  background-color: aliceblue;
  color: mediumblue;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-left: none;  
}

.addForm button:focus, 
.addForm button:hover {
  color: white;
  background-color: limegreen;
}


.searchForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0 0.5rem 0.25rem;
}

.searchForm label {
  position: absolute;
  left: -99999px;
}

.searchForm input[type='text'] {
  min-width: 634px;
  min-height: 48px;
  font-size: 1rem;
  border-radius: 0.25px;
  padding-left: 10px;
  outline: none;
}